In [1]:
import pandas as pd
import numpy as np
import re as re

Compara los precios entre proveedores y deja los tres más baratos -sin tener en cuenta los 0-. Si no hay más de un proveedor, deja “-”.

Creamos el dataframe.

In [2]:
Proveedores = 'J:/My Drive/Forraje/Proveedores.xlsx'

# Crear el DataFrame utilizando esas columnas
df_Proveedores = pd.read_excel(Proveedores, sheet_name='Centro')

Ponemos las listas de columnas.

In [3]:
lista_proveedores = ['Benavídez', 'Gallo', 'Anea', 'Pilar', 'Tortuguitas', 'Del Viso',
                     'Chica Glade', 'San Martín', 'Hipocampus', 'Mundo Mascotas', 'Yaguar',
                     'King Clor', 'Diserquim', 'Moreno', 'Roberto', 'Viejo Gets', 'Viejo Cuero', 'Mis Nietos', 
                     'Profesional Vet', 'Premier', 'Dacam', 'Proveedor']

Borramos los NaN de las columnas de proveedores y los reemplazamos con cero.

In [4]:
# Reemplazar NaN con 0
df_Proveedores[lista_proveedores] = df_Proveedores[lista_proveedores].fillna(0)

Convertimos a float los valores strings que puedan llegar a ser problemáticos. También borramos en el caso de que haya palabras.

In [5]:
# Convertir las columnas especificadas a float64
for i in lista_proveedores:
    df_Proveedores[i] = df_Proveedores[i].astype(float)

Calcula el mínimo entre todas las columnas, e ignora los cero. Si todas son cero, queda cero.

In [6]:
# Encuentra el mínimo excluyendo los valores de cero
primer_minimo = df_Proveedores[lista_proveedores].replace(0, np.nan).min(axis=1, skipna=True)

In [7]:
# Encuentra el segundo mínimo excluyendo los valores de cero
segundo_minimo = df_Proveedores[lista_proveedores].apply(lambda row: sorted(filter(lambda x: x != 0, row))[:2][1] if len([x for x in row if x != 0]) >= 2 else 0, axis=1)

In [8]:
# Encuentra el segundo mínimo excluyendo los valores de cero
tercer_minimo = df_Proveedores[lista_proveedores].apply(lambda row: sorted(filter(lambda x: x != 0, row))[:3][2] if len([x for x in row if x != 0]) >= 3 else 0, axis=1)

In [9]:
# Actualiza la columna 'Precios 1, 2 y 3' con los mínimos calculados
df_Proveedores['Precio 1'] = primer_minimo
df_Proveedores['Precio 2'] = segundo_minimo
df_Proveedores['Precio 3'] = tercer_minimo

In [10]:
# Columnas de diferencias.
df_Proveedores['Diferencia (2°)'] = df_Proveedores['Precio 2'] - df_Proveedores['Precio 1']
df_Proveedores['Diferencia (3°)'] = df_Proveedores['Precio 3'] - df_Proveedores['Precio 1']

In [11]:
# Reemplazar NaN con 0
df_Proveedores['Precio 1'] = df_Proveedores['Precio 1'].fillna(0)
df_Proveedores['Precio 2'] = df_Proveedores['Precio 2'].fillna(0)
df_Proveedores['Precio 3'] = df_Proveedores['Precio 3'].fillna(0)
df_Proveedores['Diferencia (2°)'] = df_Proveedores['Diferencia (2°)'].fillna(0)
df_Proveedores['Diferencia (3°)'] = df_Proveedores['Diferencia (3°)'].fillna(0)

In [12]:
# Reemplazar valores negativos por 0.
df_Proveedores.loc[df_Proveedores['Diferencia (2°)'] < 0, 'Diferencia (2°)'] = '-'
df_Proveedores.loc[df_Proveedores['Diferencia (3°)'] < 0, 'Diferencia (3°)'] = '-'

C:\Users\tomas\AppData\Local\Temp\ipykernel_9012\3197066779.py:2: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '-' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df_Proveedores.loc[df_Proveedores['Diferencia (2°)'] < 0, 'Diferencia (2°)'] = '-'
C:\Users\tomas\AppData\Local\Temp\ipykernel_9012\3197066779.py:3: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '-' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df_Proveedores.loc[df_Proveedores['Diferencia (3°)'] < 0, 'Diferencia (3°)'] = '-'

Ahora lo que hace es llenar las columnas "Proveedor 1, 2 y 3" con el proveedor que tiene más barato el producto.

In [13]:
# Iteramos sobre cada fila del DataFrame
for indice, fila in df_Proveedores.iterrows():
    # Iteramos sobre cada columna de lista_proveedores
    for columna in lista_proveedores:
        # Comparamos el valor de "Precio" con el valor en la columna actual
        if fila["Precio 1"] == 0:
            df_Proveedores.at[indice, "Proveedor 1"] = "-"
        elif fila["Precio 1"] == fila[columna]:
            # Si coinciden, actualizamos la columna "Proveedores" con el nombre de la columna actual
            df_Proveedores.at[indice, "Proveedor 1"] = columna
            # Salimos del bucle interno
            break

In [14]:
# Iteramos sobre cada fila del DataFrame
for indice, fila in df_Proveedores.iterrows():
    # Iteramos sobre cada columna de lista_proveedores
    for columna in lista_proveedores:
        # Comparamos el valor de "Precio" con el valor en la columna actual
        if fila["Precio 2"] == 0:
            df_Proveedores.at[indice, "Proveedor 2"] = "-"
        elif fila["Precio 2"] == fila[columna]:
            # Si coinciden, actualizamos la columna "Proveedores" con el nombre de la columna actual
            df_Proveedores.at[indice, "Proveedor 2"] = columna
            # Salimos del bucle interno
            break

In [15]:
# Iteramos sobre cada fila del DataFrame
for indice, fila in df_Proveedores.iterrows():
    # Iteramos sobre cada columna de lista_proveedores
    for columna in lista_proveedores:
        # Comparamos el valor de "Precio" con el valor en la columna actual
        if fila["Precio 3"] == 0:
            df_Proveedores.at[indice, "Proveedor 3"] = "-"
        elif fila["Precio 3"] == fila[columna]:
            # Si coinciden, actualizamos la columna "Proveedores" con el nombre de la columna actual
            df_Proveedores.at[indice, "Proveedor 3"] = columna
            # Salimos del bucle interno
            break

In [16]:
df_Proveedores['Precio 1'] = df_Proveedores['Precio 1'].replace(0, '-')
df_Proveedores['Precio 2'] = df_Proveedores['Precio 2'].replace(0, '-')
df_Proveedores['Precio 3'] = df_Proveedores['Precio 3'].replace(0, '-')
df_Proveedores['Diferencia (2°)'] = df_Proveedores['Diferencia (2°)'].replace(0, '-')
df_Proveedores['Diferencia (3°)'] = df_Proveedores['Diferencia (3°)'].replace(0, '-')

In [17]:
# Se importa Database.

Database = 'J:/My Drive/Forraje/Marcas y subcategorías.xlsx'

# Crear el DataFrame utilizando esas columnas
df_Marcas = pd.read_excel(Database)

In [18]:
# Ordenar según la columna 'Descripcion' en orden ascendente.

df_Marcas = df_Marcas.sort_values(by='Descripcion')

df_Marcas

,Descripcion,Subcategoria,Marca,Categoría,Unidad
0,9 Lives Gatitos,Grupo Pilar,9 Lives,Gato Granel,KG
1,9 Lives Gatitos x 8 kg.,Grupo Pilar,9 Lives,Gato,UN
2,9 Lives Pescado,Grupo Pilar,9 Lives,Gato Granel,KG
3,9 Lives Pescado x 15 kg.,Grupo Pilar,9 Lives,Gato,UN
4,A Otra Parte Concentrado x 600 cc.,NaN,A Otra Parte,Mascotas,UN
...,...,...,...,...,...
1998,Ziploc Bolsas Multipack x 9 u.,NaN,Ziploc,Limpieza,UN
1999,Zorro Antigrasa x 450 cc.,Desengrasante,Zorro,Limpieza,UN
2000,Zorro Baño Doy Pack x 450 cc.,NaN,Zorro,Limpieza,UN
2001,Zorro Baño Gatillo,Purina,Zorro,Limpieza,UN
2002,Zorro Cocina Doy Pack,NaN,Zorro,Limpieza,UN

In [19]:
# Resetear index del df.
df_Marcas = df_Marcas.reset_index(drop=True)

In [20]:
# Importar datos de marcas y subcategorias.

print(len(df_Marcas))
print(len(df_Proveedores))

if len(df_Marcas) == len(df_Proveedores):
    df_Proveedores['Marca'] = df_Marcas['Marca']
    df_Proveedores['Subcategoria'] = df_Marcas['Subcategoria']

2003
2003

In [21]:
# Nombres de las columnas en orden.
Orden = ['Codigo', 'Descripcion', 'Categoria', 'Subcategoria', 'Marca',
         'Proveedor 1', 'Precio 1', 
         'Proveedor 2', 'Precio 2', 'Diferencia (2°)',
         'Proveedor 3', 'Precio 3', 'Diferencia (3°)']

# Ordena el DataFrame
df_Proveedores = df_Proveedores[Orden]

In [22]:
df_Proveedores

,Codigo,Descripcion,Categoria,Subcategoria,Marca,Proveedor 1,Precio 1,Proveedor 2,Precio 2,Diferencia (2°),Proveedor 3,Precio 3,Diferencia (3°)
0,1905248.0,9 Lives Gatitos,Gato Granel,Grupo Pilar,9 Lives,-,-,-,-,-,-,-,-
1,1002.0,9 Lives Gatitos x 8 kg.,Gato,Grupo Pilar,9 Lives,Proveedor,17493.0,Benavídez,18165.0,672.0,Gallo,18334.0,841.0
2,1905001.0,9 Lives Pescado,Gato Granel,Grupo Pilar,9 Lives,-,-,-,-,-,-,-,-
3,28391001.0,9 Lives Pescado x 15 kg.,Gato,Grupo Pilar,9 Lives,Proveedor,15903.0,Benavídez,29417.0,13514.0,Gallo,29687.0,13784.0
4,7209.0,A Otra Parte Concentrado x 600 cc.,Mascotas,NaN,A Otra Parte,Gallo,9968.0,-,-,-,-,-,-
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1998,1905887.0,Ziploc Bolsas Multipack x 9 u.,Limpieza,NaN,Ziploc,-,-,-,-,-,-,-,-
1999,1905964.0,Zorro Antigrasa x 450 cc.,Limpieza,Desengrasante,Zorro,-,-,-,-,-,-,-,-
2000,1906105.0,Zorro Baño Doy Pack x 450 cc.,Limpieza,NaN,Zorro,Yaguar,1395.0,-,-,-,-,-,-
2001,1906104.0,Zorro Baño Gatillo,Limpieza,Purina,Zorro,-,-,-,-,-,-,-,-
2002,1906068.0,Zorro Cocina Doy Pack,Limpieza,NaN,Zorro,Yaguar,1160.0,-,-,-,-,-,-

Creamos un .xlsx

In [23]:
# Guardar el DataFrame en un archivo.
Ruta_1 = f"J:/My Drive/Forraje/Baratos.xlsx"
df_Proveedores.to_excel(Ruta_1, index=False)