In [55]:
import pandas as pd
import numpy as np
import re as re

In [56]:
Proveedores = 'J:/My Drive/Forraje/Proveedores.xlsx'
df_Proveedores = pd.read_excel(Proveedores, sheet_name='Centro')

In [57]:
Baratos = 'J:/My Drive/Forraje/Baratos.xlsx'
df_Baratos = pd.read_excel(Baratos)

In [58]:
df_Baratos.head(5)

,Codigo,Descripcion,Categoria,Subcategoria,Marca,Proveedor 1,Precio 1,Proveedor 2,Precio 2,Diferencia (2°),Proveedor 3,Precio 3,Diferencia (3°)
0,1905248.0,9 Lives Gatitos,Gato Granel,Grupo Pilar,9 Lives,-,-,-,-,-,-,-,-
1,1002.0,9 Lives Gatitos x 8 kg.,Gato,Grupo Pilar,9 Lives,Proveedor,17493,Benavídez,18165,672,Gallo,18334,841
2,1905001.0,9 Lives Pescado,Gato Granel,Grupo Pilar,9 Lives,-,-,-,-,-,-,-,-
3,28391001.0,9 Lives Pescado x 15 kg.,Gato,Grupo Pilar,9 Lives,Proveedor,15903,Benavídez,29417,13514,Gallo,29687,13784
4,7209.0,A Otra Parte Concentrado x 600 cc.,Mascotas,NaN,A Otra Parte,Gallo,9008,-,-,-,-,-,-

In [59]:
df_Proveedores.head(5)

,Descripcion,Codigo,Categoria,Benavídez,Gallo,Anea,Pilar,Tortuguitas,Del Viso,Chica Glade,...,Diserquim,Moreno,Roberto,Viejo Gets,Viejo Cuero,Mis Nietos,Profesional Vet,Premier,Dacam,Proveedor
0,9 Lives Gatitos,1905248.0,Gato Granel,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,9 Lives Gatitos x 8 kg.,1002.0,Gato,18165.0,18334.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,17493.0
2,9 Lives Pescado,1905001.0,Gato Granel,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,9 Lives Pescado x 15 kg.,28391001.0,Gato,29417.0,29687.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,15903.0
4,A Otra Parte Concentrado x 600 cc.,7209.0,Mascotas,NaN,9008.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [60]:
Stock = {
    "Piedritas Sanitarias Chicas x 10 u.": 4,
    "Piedritas Sanitarias Grandes x 5 u.": 1,
    "Piedritas Sanitarias x 10 kg": 2,
    "Rosco Carne x 22 kg.": 4,
    "Rosco Cocktail x 22 kg.": 2,
    "Rosco Pollo x 15 kg.": 3,
    "Rosco Carne x 15 kg.": 4,
    "Rosco Cocktail x 15 kg.": 2,
    "Arroz Gran Campeon x 15 kg.": 2,
    "Chacal x 15 kg.": 5,
    "Dr. Perrot x 20 kg.": 10,
    "Dr. Perrot x 15 kg.": 2,
    "Pacha Cocktail x 22 kg.": 3,
    "Pacha Mix x 22 kg.": 4,
    "Vagoneta Gato x 10 kg.": 1,
    "Vagoneta Gato x 20 kg.": 1
}

In [61]:
Pedido = pd.DataFrame()

for Producto, Cantidad in Stock.items():
    Productos_Totales = list(df_Baratos['Descripcion'])

    if Producto in Productos_Totales:
        Producto_Final = {}
        Producto_Final['Producto'] = Producto
        Producto_Final['Stock'] = Cantidad
        Producto_Final['Proveedor'] = df_Baratos[df_Baratos['Descripcion'] == Producto]['Proveedor 1'].iloc[0]
        Producto_Final['Precio'] = df_Baratos[df_Baratos['Descripcion'] == Producto]['Precio 1'].iloc[0]
        Pedido = pd.concat([Pedido, pd.DataFrame([Producto_Final])], ignore_index=True)
    else:
        print(f"{Producto} no está en la lista.")

Pedido.sort_values(by='Proveedor', ascending=True, inplace=True)

Pedido.head(100)

                               Producto  Stock  Proveedor  Precio
0   Piedritas Sanitarias Chicas x 10 u.      4  Benavídez    7188
1   Piedritas Sanitarias Grandes x 5 u.      1  Benavídez    7188
10                  Dr. Perrot x 20 kg.     10  Benavídez   14669
11                  Dr. Perrot x 15 kg.      2  Benavídez   11002
14               Vagoneta Gato x 10 kg.      1  Benavídez   13933
15               Vagoneta Gato x 20 kg.      1  Benavídez   26838
3                  Rosco Carne x 22 kg.      4      Gallo   15945
4               Rosco Cocktail x 22 kg.      2      Gallo   17705
5                  Rosco Pollo x 15 kg.      3      Gallo   11520
6                  Rosco Carne x 15 kg.      4      Gallo   11520
7               Rosco Cocktail x 15 kg.      2      Gallo   12555
2          Piedritas Sanitarias x 10 kg      2  Proveedor    3565
8           Arroz Gran Campeon x 15 kg.      2  Proveedor   12127
9                       Chacal x 15 kg.      5  Proveedor   10227
12              Pacha Cocktail x 22 kg.      3  Proveedor   16975
13                   Pacha Mix x 22 kg.      4  Proveedor   16975

In [62]:
df_Baratos[df_Baratos['Descripcion'] == 'Piedritas Sanitarias Chicas x 10 u.']

,Codigo,Descripcion,Categoria,Subcategoria,Marca,Proveedor 1,Precio 1,Proveedor 2,Precio 2,Diferencia (2°),Proveedor 3,Precio 3,Diferencia (3°)
1458,2015.0,Piedritas Sanitarias Chicas x 10 u.,Mascotas,Piedritas,Sanicat,Benavídez,7188,Pilar,7533,345,-,-,-